@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

.bg-video
{
	top: 0;
	width: 100%;
	z-index: -20;
	position: fixed;
}

.presentation
{
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-shadow: 0 0 48px #FFF;
	color: #FFF;
}

hr, h1, h2
{
	margin: 0;
}

.presentation h1
{
	font-size: 144pt;
	margin-top: 0;
	padding-top: 10%;
}

.presentation h2
{
	padding-bottom: 20px;
}

.presentation hr
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.clear
{
	background-color: white;
}

.cover
{
	width:  100%;
	min-height: calc(100vw * 9/16);
	background-image: url('../img/cover.png');
}

.container.small
{
	width: 38.25em;
}

footer.major
{
	border-bottom-width: 1px;
	border-color: rgba(224, 224, 224, 0.75);
	border-style: solid;
	border-top-width: 1px;
	margin-top: 6em;
	padding: 4em 0;
	position: relative;
}

.feature.left
{
	text-align: left;
}

.feature.right
{
	text-align: right;
}

.feature.right p
{
	padding-left: 3em;
}

.feature.right p
{
	padding-right: 3em;
}


.feature
{
	position: relative;
	height: 20em;
}

.footer
{
	background-color: #070C2F;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 24pt;
}

.h3
{
	font-size: 1.5em;
}

.content p
{
	margin-top: 30px;
	font-size: 19px;
}

.image
{
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 350px;
}

#loginButt
{
	text-transform: uppercase;
	border: 1px solid white;
	padding: 5px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	border-radius: 2px;
	text-decoration: none;
	transition: border-color 0.5s, color 0.5s;
}

a#loginButt:hover
{
	color: rgb(255, 52, 137);
	border-color: rgb(255, 52, 137);
	text-decoration: none;
}

legend
{
	font-size: 2em;
}

.clear
{
	border-top-w
}

body
{
	overflow:hidden;
}
