@charset "UTF-8";

.result-box
{
	width: 100%;
	margin-bottom: 30px;
	padding: 10px;
	display: inline-flex;
	background-color: #eee;
	box-shadow: 0 0 20px -8px black; /* Cet ombre me donne l'impression que les lignes sont pas droites c'est infernal */
	border: 1px solid #ddd;
}

.result-box > a
{
	min-width:  64px;
	min-height: 64px;
	margin-right: 16px;
}

.result-box > a > img
{
	width:  64px;
	height: 64px;
	border-radius: 64px;
	box-shadow: 0 0 12px -4px black;
}

.search-box
{
	width: 100%;
	max-height: 50px;
	background-color: #eee;
	margin-bottom: 32px;
	box-shadow: 0 -13px 16px 10px black;
	padding-top: 8px;
	overflow: hidden;
	padding-left: 15px;
}