<!DOCTYPE html>
<html lang="fr">
	<head>
		<link href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/homestyle.css">
	</head>
	<body>
		<video class="bg-video" autoplay loop muted>
			<source src="/assets/video/loli.webm#t=8.43" type="video/webm">
			<source src="/assets/video/loli.mp4#t=8.43" type="video/mp4">
		</video>
		<div class="cover">
			<a id="loginButt" class="pull-right" href="{{ url('/login') }}">Se connecter</a>
			<div class="presentation">
				<h1>AFK</h1>
				<h2>Rejoignez notre communauté dès maintenant !</h2>
				<hr/>
			</div>
		</div>

		<div class="clear">
			<div class="container">
				<section class="feature left">
					<img class="image pull-right" src="http://fc06.deviantart.net/fs71/f/2012/108/3/6/png_de_anime_by_chicaanime01-d4wm4vd.png">
					<div class="content">
						<h3>Faites vous des amis !</h3>
						<p>
							AFK vous recommende des amis qui ont beaucoup en commun avec vous, mais peut aussi vous faire découvrir de nouvelles choses ! (En fait, non)
						</p>
					</div>
				</section>
				<div class="clearfix"></div>
				<section class="feature right">
					<img class="image pull-left" src="http://rocketdock.com/images/screenshots/21.png">
					<div class="content">
						<h3>Partagez vos passions !</h3>
						<p>
							Créez des groupes publiques pour partager ce qui vous plait !
						</p>
					</div>
				</section>
				<div class="clearfix"></div>
				<section class="feature left">
					<img class="image pull-right" src="http://img3.wikia.nocookie.net/__cb20141031090057/mlp/images/6/61/Anime-Gifs.gif">
					<div class="content">
						<h3>Rencontrez-vous !</h3>
						<p>
							En plus de vous proposez des évèvenements à proximité de chez vous, AFK vous propose aussi des amis proches de vous ! (En fait, ca non plus)
						</p>
					</div>
				</section>
				<div class="clearfix"></div>
				<form class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" role="form" method="post" action="{{ url('/register') }}">
					<h2 class="h2">Inscrivez-vous!</h2>
					<div class="row">
						<div class="form-group col-md-6 col-xs-6">
							<label for="nom">Nom</label>  
							<input id="nom" name="nom" type="text" placeholder="" class="form-control input-md" required>
						</div>
						<div class="form-group col-md-6 col-xs-6">
							<label for="prenom">Prénom</label>  
							<input id="prenom" name="prenom" type="text" placeholder="" class="form-control input-md" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6 col-xs-6">
							<label for="login">Pseudo</label>
							<input id="login" name="pseudo" type="text" placeholder="" class="form-control input-md" required>
						</div>
						<div class="form-group col-md-6 col-xs-6">
							<label for="password">Mot de passe</label>
							<input id="password" name="password" type="password" placeholder="" class="form-control input-md" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6 col-xs-6">
							<label for="email">Email</label>  
							<input id="email" name="email" type="email" placeholder="" class="form-control input-md" required>
						</div>
						<div class="form-group col-md-6 col-xs-6">
							<label class="col-md-4 col-xs-4 control-label" for="civilite">Civilité</label>
							<select id="civilite" name="civilite" class="form-control">
								<option value="1">Monsieur</option>
								<option value="2">Madame</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<button id="send" name="send" class="col-md-2 col-xs-4 col-md-offset-5 col-xs-offset-4 btn btn-default">S'inscrire</button>
						<div class="clearfix">
						</div>
				</form>
					</div>
			</div>
			<div class="footer">
				<div class="container">
					<div class="pull-left">
						AFK
					</div>
					<div class="pull-right">
						© 2015
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/bootstrap.min.js"></script>
	</body>
</html>
