<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>AFK</title>
        <meta charset="UTF-8">
        <link href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../assets/css/style.css">
        <link href='../../../assets/css/fullcalendar.css' rel='stylesheet' />
        <link href='../../../assets/css/fullcalendar.print.css' rel='stylesheet' media='print' />
        <script src='../../../assets/js/moment.min.js'></script>
        <script src='../../../assets/js/jquery.min.js'></script>
        <script src='../../../assets/js/fullcalendar.min.js'></script>
        <script>
            $(document).ready(function() {
            	
            	$('#calendar').fullCalendar({
            		header: {
            			left: 'prev,next today',
            			center: 'title',
            			right: 'month,agendaWeek,agendaDay'
            		},
            		defaultDate: '2014-11-12',
            		editable: true,
            		eventLimit: true, // allow "more" link when too many events
            		events: [
            			{
            				title: 'All Day Event',
            				start: '2014-11-01'
            			},
            			{
            				title: 'Long Event',
            				start: '2014-11-07',
            				end: '2014-11-10'
            			},
            			{
            				id: 999,
            				title: 'Repeating Event',
            				start: '2014-11-09T16:00:00'
            			},
            			{
            				id: 999,
            				title: 'Repeating Event',
            				start: '2014-11-16T16:00:00'
            			},
            			{
            				title: 'Conference',
            				start: '2014-11-11',
            				end: '2014-11-13'
            			},
            			{
            				title: 'Meeting',
            				start: '2014-11-12T10:30:00',
            				end: '2014-11-12T12:30:00'
            			},
            			{
            				title: 'Lunch',
            				start: '2014-11-12T12:00:00'
            			},
            			{
            				title: 'Meeting',
            				start: '2014-11-12T14:30:00'
            			},
            			{
            				title: 'Happy Hour',
            				start: '2014-11-12T17:30:00'
            			},
            			{
            				title: 'Dinner',
            				start: '2014-11-12T20:00:00'
            			},
            			{
            				title: 'Birthday Party',
            				start: '2014-11-13T07:00:00'
            			},
            			{
            				title: 'Click for Google',
            				url: 'http://google.com/',
            				start: '2014-11-28'
            			}
            		]
            	});
            	
            });
            
        </script>
        <style>
        </style>
    </head>
    <body>
        <nav>
            <a href="./AFK_files/AFK.html"><i class="fa fa-home"></i>
            <span>Acceuil</span></a>
            <a href="http://afk.kuriyama.moe/login"><i class="fa fa-sign-in"></i>
            <span>Connexion</span></a>
        </nav>
        <div id="container-main">
            <div class="container clearfix home">
                <div id='calendar'></div>
            </div>
        </div>
        <script src="./AFK_files/bootstrap.min.js"></script>
    </body>
</html>