{% extends "base.twig.html" %}

{% block title %}Login{% endblock %}

{% block head %}
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/loginstyle.css">
	<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}
	<div class="col-md-4 col-xs-8 col-md-offset-4 col-xs-offset-2" id="main_connexion_page">
		<div id="form-login">
			<form method="post" action="/profile/{{name}}/edit" enctype="multipart/form-data">
				<h4>Dites-nous en plus sur vous, {{ name }}!</h4>
				  <div class="form-group">
					  <textarea name="desc" class="form-control input-sm chat-input" placeholder="Décrivez-vous en quelques mots"></textarea>
				  </div>
				  <div class="form-group">
					  <label for="bpic">Image de profil</label>
					  <input name="ppic" type="file" class="form-control input-sm" />
				  </div>
				  <div class="form-group">
					  <label for="bpic">Bannière</label>
					  <input id="bpic" name="bpic" type="file" class="form-control input-sm" />
				  </div>
				  <div class="form-group">
					  <label for="bpic">Bannière</label>
					  <input name="bpic" type="file" class="form-control input-sm" />
				  </div>
				<div class="wrapper">
					<span class="group-btn">     
						<input type="submit" value="Mettre à jour" class="btn btn-primary btn-md"/>
					</span>
				</div>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>
{% endblock %}
