{% extends "base.twig.html" %}

{% block title %}Login{% endblock %}

{% block head %}
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/loginstyle.css">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
	<div class="col-md-4 col-md-offset-4 "id="main_connexion_page">
		<div id="form-login">
			<form method="post" action="/login">
				<h4>Connectez-vous</h4>
				{% if errored %}
					<h5 class="h5 text-danger">Une erreur est survenue: {{ emessage }}</h5>
				{% endif%}
				{% if message is defined %}
					<h5 class="h5 text-success">{{ message }}</h5>
				{% endif%}
				<div class="form-group">
					<input name="pseudo" type="text" id="userName" class="form-control input-sm chat-input" placeholder="Nom d'utilisateur" />
				</div>
				<div class="form-group">
					<input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="Mot de passe" />
				</div>
				<div class="wrapper">
					<span class="group-btn">     
						<input type="submit" value="Se connecter" class="btn btn-primary btn-md"/>
					</span>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
