{% extends "base.twig.html" %}

{% block title %}{{ name }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="/assets/css/userstyle.css">
	{{ parent() }}
	<link rel="stylesheet" href="/profile/{{ name }}/style">
{% endblock %}

{% block content %}
	<div class="user-cover">
		<div class="user-info">
			<div class="user-image">
			</div>
			<div class="user-name-box">
				<h1>{{ name }}
					{% if loggedIn() and loggedUser() is same as(name) %}
						<a href="/profile/{{ name }}/edit" class="pull-right"><i class="fa fa-edit"></i></a>
					{% endif %}
				</h1> 
				<div class="desc">
					{{userdesc}}
				</div>
			</div>
			<div class="user-actions">
				{% if (loggedIn()) and (not loggedUser() is same as(name))%}
					<div class="user-action">
						<a href="/message/{{ name }}"><i class="fa fa-comment"></i>Envoyer un message</a>
					</div><br/>
					{% if (not friendOf(name)) %}
						<div class="user-action">
							<a href="/addfriend/{{ name }}"><i class="fa fa-plus-circle"></i>Ajouter en ami</a>
						</div>
						{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	{% if (not partEvents is empty) or  (not orgEvents is empty) %}
		<div class="afk-col col-md-4 col-xs-4">
			{% if (not partEvents is empty) %}
				<h2 class="h3 col-md-12 col-xs-12">Évenements où je participe</h2>
				{% for p in partEvents %}
					<div class="user-info-box col-md-6 col-xs-6">
						<div class="user-pic">
							<a href="/event/{{ p.id }}"><img alt="" src="/profile/{{ p.id }}/ppic"></a>
						</div>
						<div class="user-content">
							<p>{{ p.nom }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			{% if (not orgEvents is empty) %}
				<h2 class="h3 col-md-12">Évenements que j'organise</h2>
				{% for p in orgEvents %}
					<div class="user-info-box col-md-6 col-xs-6">
						<div class="user-pic">
							<a href="/event/{{ p.id }}"><img alt="" src="/profile/{{ p.id }}/ppic"></a>
						</div>
						<p>{{ p.nom }}</p>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	{% endif %}
	{% if (not friends is empty) %}
		<div class="afk-col col-md-7 col-xs-7">
			{% if (not friends.followed is empty) %}
				<h2 class="h3 col-md-12 col-xs-12">Amis que je suis</h2>
				{% for fname in friends.followed %}
					<div class="user-info-box col-md-6 col-xs-6">
						<div class="user-pic">
							<a href="/profile/{{ fname }}"><img alt="" src="/profile/{{ fname }}/ppic"></a>
						</div>
						<div class="user-content">
							{% if loggedIn() and loggedUser() is same as(name) %}
								<a href="/deletefriend/{{ fname }}" class="pull-right"><i class="fa fa-minus-circle"></i></a>
							{% endif %}
							<p>{{ fname }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			{% if (not friends.followers is empty) %}
				<h2 class="h3 col-md-12 col-xs-12">Amis qui me suivent</h2>
				{% for fname in friends.followers %}
					<div class="user-info-box col-md-6 col-xs-6">
						<div class="user-pic">
							<a href="/profile/{{ fname }}"><img alt="" src="/profile/{{ fname }}/ppic"></a>
						</div>
						<div class="user-content">
							{% if loggedIn() and loggedUser() is same as(name) %}
								<a href="/deletefriend/{{ fname }}" class="pull-right"><i class="fa fa-minus-circle"></i></a>
							{% endif %}
							<p>{{ fname }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>			
	{% endif %}

{% endblock %}

